/* 收合按鈕 S */
.close_img {
    width: 100%;
    max-height: 0;
    transition: max-height .8s cubic-bezier(1, 0.2, 0.2, 1);
    overflow: hidden;
}

.show {
    max-height: 5000px;
}

/* 收合按鈕 E */
