/* 更改按鈕圖案 */
.swiperControl {
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    height: 80%;
}

.swiperBtnR,
.swiperBtnL {
    width: 60px;
    height: 60px;
}

/* .swiper-slide img{
    margin: 0 auto;
} */
@media (max-width: 768px) {

    .swiperBtnR,
    .swiperBtnL {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 568px) {

    .swiperBtnR,
    .swiperBtnL {
        width: 25px;
        height: 25px;
    }
}

.swiperBtnR:after {
    content: "";
    background-image: url(../images/slide/slide-right.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

.swiperBtnL:after {
    content: "";
    background-image: url(../images/slide/slide-left.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

.swiperBtnR_02:after {
    content: "";
    background-image: url(../images/slide/right02.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

.swiperBtnL_02:after {
    content: "";
    background-image: url(../images/slide/left02.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

/* Review Swiper */
.mySwiper {
    overflow: visible;
    padding: 10px 0 40px;
}

.mySwiper .swiper-slide,
.mySwiper2 .swiper-slide {
    width: 68%;
    /* opacity: 0.5; */
    /* transition: opacity 0.3s; */
}

.thing06-1 .swiperBtnR {
    right: 10%;
}

.thing06-1 .swiperBtnL {
    left: 8.5%;
}

.mySwiper .swiper-slide-active,
.mySwiper2 .swiper-slide-active {
    opacity: 1;
}

/* Pagination */
.thing06-1 .swiper-pagination,
.thing07-1 .swiper-pagination,
.thing24-1 .swiper-pagination {
    bottom: 0;
}

.thing06-1 .swiper-pagination-bullet,
.thing07-1 .swiper-pagination-bullet,
.thing24-1 .swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid #333;
    opacity: 1;
    margin: 0 6px !important;
}

.thing06-1 .swiper-pagination-bullet-active,
.thing07-1 .swiper-pagination-bullet-active,
.thing24-1 .swiper-pagination-bullet-active {
    background: #333;
    border-color: #333;
}

/* 位置調整 */
.thing06-1 .swiperBtnR,
.thing06-1 .swiperBtnL {
    top: 41.5%;
}

.thing06-1 .swiper-pagination {
    bottom: 0.5%;
}

.thing07-1 .swiper-pagination {
    bottom: -5.5%;
}

.thing24-1 .swiperBtnR,
.thing24-1 .swiperBtnL {
    width: 50px;
    height: 50px;
    top: 49%;
}

.thing24-1 .swiperBtnR {
    right: 3.75%;
}

.thing24-1 .swiperBtnL {
    left: 4.25%;
}

.thing24-1 .swiper-slide,
.thing36-1 .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thing24-1 .swiper-pagination {
    bottom: -1%;
}

.mySwiper4 .swiper-slide img {
    margin-left: 4%;
}

.thing36-1 .swiperBtnR_02,
.thing36-1 .swiperBtnL_02 {
    width: 140px;
    height: 25px;
}

.thing36-1 .swiperBtnR_02 {
    right: 16.5%;
}

.thing36-1 .swiperBtnL_02 {
    left: 17.5%;
}

@media (max-width: 768px) {

    .thing06-1 .swiper-pagination-bullet,
    .thing07-1 .swiper-pagination-bullet,
    .thing24-1 .swiper-pagination-bullet {
        width: 12px;
        border: 1px solid #333;
        height: 12px;
        margin: 0 3.5px !important;
    }

    /* 位置調整 */

    .thing06-1 .swiper-pagination {
        bottom: 4.25%;
    }

    .thing07-1 .swiper-pagination {
        bottom: -6.5%;
    }

    .thing24-1 .swiperBtnR,
    .thing24-1 .swiperBtnL {
        width: 25px;
        height: 25px;
        top: 51%;
    }

    .mySwiper3 .swiper-slide img {
        scale: 0.95;
    }

    .thing24-1 .swiper-pagination {
        bottom: 1%;
    }

    .thing36-1 .swiperBtnR_02,
    .thing36-1 .swiperBtnL_02 {
        width: 65px;
        height: 15px;
        top: 54%;
    }

    .mySwiper4 .swiper-slide img {
        scale: 0.92;
    }
}

/* 影片輪播  */
.slide01-video-box {
    width: 92.7%;
    height: 68%;
    position: absolute;
    top: 0.8%;
    left: 3%;
    /* background: red; */
    -webkit-mask: url("../images/slide/slide01-mask.png") no-repeat center center;
    mask: url("../images/slide/slide01-mask.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.slide01-video {
    width: 120%;
    height: 120%;
    left: 50%;
    transform: translateX(-50%);
}